// Colors
$primary-color: hsl(25, 97%, 53%);
$secondary-color: hsl(213, 19%, 18%);
$tertiary-color: hsl(216, 12%, 8%);

// Font Colors
$primary-font-color: hsl(0, 0%, 100%);
$secondary-font-color: hsl(217, 12%, 63%);

// Circle color
$primary-circle-color: hsl(220, 3%, 21%);
$secondary-circle-color: hsl(216, 12%, 54%);

// App
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $tertiary-color;

  font-family: "Overpass", sans-serif;
  color: $secondary-font-color;

  display: grid;
  justify-content: center;
  align-content: center;

  height: 100vh;
}

.card {
  padding: 2rem;
  width: 360px;
  height: 400px;
  border-radius: 20px;

  background-color: $secondary-color;
}

.thank-you {
  display: none;

  text-align: center;

  img {
    padding: 0.5rem;
  }
  h1 {
    margin-top: 0.5rem;
  }
}

ul {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;

  list-style: none;

  padding: 2rem 0 1.5rem 0;
}

a {
  text-decoration: none;
  color: $secondary-font-color;
}

.circle, .circle-star {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: $primary-circle-color;

  display: grid;
  justify-content: center;
  align-items: center;
}

.circle.paragraph:hover {
  background-color: $secondary-circle-color;
  color: $primary-font-color;
}

.circle:active, .selected {
  background-color: $primary-color;
  color: $primary-font-color;
  &:hover {
    background-color: $primary-color !important;
    color: $primary-font-color !important;
  }
}

.title {
  color: $primary-font-color;
  font-weight: 700;
  padding: 1.5rem 0 1rem 0;
}

.paragraph {
  font-size: 15px;
  font-weight: 400;
}

.btn {
  cursor: pointer;

  width: 100%;
  height: 50px;

  background-color: $primary-color;

  border: none;
  border-radius: 35px;

  .paragraph {
    color: $primary-font-color;
  }

  &:hover {
    background-color: $primary-font-color;
    .paragraph {
      color: $primary-color;
    }
  }
}

.btn-rate {
  margin-top: 0.5rem;

  width: 185px;
  height: 30px;

  border: none;
  border-radius: 35px;

  background-color: $primary-circle-color;
  color: $primary-color;
}

footer {
  position: absolute;
  bottom: 1rem;
  left: 35.5rem;

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: $primary-color;
  }
}